<div class="container">
  <div class="row">

    <div class="col-lg-7 col-md-8 mx-auto">
      <h2><%= @user.name %>'s Follows</h2>
      <% if @users.exists? %>
        <%= render 'index', users: @users %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>